<div class="content-wrapper ">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Créer Fonction</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="dashboard">Home</a></li>
            <li class="breadcrumb-item active">Créer Fonction</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title text-bold">
                Fonction Form
              </h3>
              <div class="card-tools">
                <span *ngIf="showError" class="badge badge-danger">Form Incorrect  <i
                  class="fas fa-triangle-exclamation fa-beat-fade"></i></span>
              </div>
            </div>
            <form [formGroup]="foncForm">
              <div class="card-body">
                <div class="row ml-2">
                  <div class="col-md-2">

                    <div class="form-group">
                      <label>Code Fonction</label>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        </div>
                        <input formControlName="codF" placeholder="Code " type="text" class="form-control "
                               [ngClass]="{'is-invalid': foncForm.get('codF')?.invalid && showError}">
                        <span *ngIf="foncForm.get('codF')?.hasError('required')" class="error invalid-feedback">Code is required.</span>
                        <span *ngIf="foncForm.get('codF')?.hasError('maxlength')" class="error invalid-feedback">Maximum length is 30
                     characters.</span>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label>Nom Fonction</label>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        </div>

                        <input formControlName="nomF" placeholder="Nom" type="text" class="form-control "
                               [ngClass]="{'is-invalid': foncForm.get('nomF')?.invalid && showError}">
                        <span *ngIf="foncForm.get('nomF')?.hasError('required')" class="error invalid-feedback">Nom is required.</span>
                        <span *ngIf="foncForm.get('nomF')?.hasError('maxlength')" class="error invalid-feedback">Maximum length is 50
                     characters.</span>
                      </div>
                    </div>


                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label>Description</label>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-signature"></i></span>
                        </div>

                        <input formControlName="desF" placeholder="Description" type="text" class="form-control "
                               [ngClass]="{'is-invalid': foncForm.get('desF')?.invalid && showError}">
                        <span *ngIf="foncForm.get('desF')?.hasError('required')" class="error invalid-feedback">Description is required.</span>
                        <span *ngIf="foncForm.get('desF')?.hasError('maxlength')" class="error invalid-feedback">Maximum length is 100
                     characters.</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label>Admin</label>
                      <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-horse-head"></i></span>
                        </div>
                        <select formControlName="f_ADM" class="form-control "
                                [ngClass]="{'is-invalid': foncForm.get('f_ADM')?.invalid && showError,'is-valid':foncForm.get('f_ADM')?.valid && showError}">
                          <option value="" disabled>-- Choisir --</option>
                          <option [value]="1">Oui</option>
                          <option [value]="0">Non</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label>Droit Accès</label>
                      <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-lock"></i></span>
                        </div>
                        <select formControlName="f_DROIT_ACCES" class="form-control"
                                [ngClass]="{'is-invalid': foncForm.get('droitAcces')?.invalid && showError, 'is-valid':foncForm.get('droitAcces')?.valid && showError}">
                          <option value="" disabled>-- Choisir --</option>
                          <option value="1">Oui</option>
                          <option value="0">Non</option>
                        </select>
                        <span *ngIf="foncForm.get('droitAcces')?.hasError('required')" class="error invalid-feedback">Droit d'accès est obligatoire.</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row ml-2">
                  <div class="col-md-auto">
                    <div class="form-group">
                      <label>Type Fonction</label>
                      <div class="input-group input-group-sm ">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-list"></i></span>
                        </div>
                        <select [(ngModel)]="selectedOption" [ngModelOptions]="{standalone: true}" name="selectedOption"
                                class="form-control ">
                          <option value="" disabled>-- Choisir --</option>
                          <option [value]="true">Fonction principal</option>
                          <option [value]="false">Sous fonction</option>
                          <option [value]="'abc'">Third sous fonction</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-auto" *ngIf="selectedOption === 'false'||selectedOption ==='abc'">
                    <div class="form-group">
                      <label>Fonction Principale</label>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-bars"></i></span>
                        </div>
                        <select [formControl]="menuForm" (change)="onSelectionmenu()"
                                class="form-control"
                                [ngClass]="{'is-invalid': foncForm.get('nomMENU')?.invalid && showError,'is-valid':foncForm.get('nomMENU')?.valid && showError}">
                          <option value="" disabled>-- Choisir --</option>
                          <option *ngFor="let menu of fonctionmenu" [value]="menu.nomMENU">{{ menu.nomF }}</option>
                        </select>
                        <span *ngIf="foncForm.get('nomMENU')?.hasError('required')" class="error invalid-feedback">Menu is required.</span>
                      </div>
                    </div>
                  </div>

                  <div class="col-md-auto" *ngIf="selectedOption === 'abc'">
                    <div class="form-group">
                      <label>Sous Fonction </label>
                      <div class="input-group input-group-sm">
                        <div class="input-group-prepend">
                          <span class="input-group-text"><i class="fas fa-bars"></i></span>
                        </div>
                        <select [formControl]="sousmenuForm"
                                class="form-control"
                                [ngClass]="{'is-invalid': foncForm.get('nomMENU')?.invalid && showError,'is-valid':foncForm.get('nomMENU')?.valid && showError}">
                          <option value="" disabled>-- Choisir --</option>
                          <option *ngFor="let menu of sousmenu" [value]="menu.fon_COD_F">{{ menu.nomF }}</option>
                        </select>
                        <span *ngIf="foncForm.get('nomMENU')?.hasError('required')" class="error invalid-feedback">Menu is required.</span>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
              <div class="card-footer">
                <div class="">
                  <button class="btn  bg-gradient-success" type="button" (click)="addFonc()">Save <i
                    class="fa-regular fa-circle-check"></i></button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
