<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Créer Profil</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Créer Profil</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <div class="card card-outline card-info">
            <div class="card-header">
              <h3 class="card-title text-bold">
                Profil Form
              </h3>
              <div class="card-tools">
                <span *ngIf="showError" class="badge badge-danger">Form Incorrect  <i
                  class="fas fa-triangle-exclamation fa-beat-fade"></i></span>
              </div>
            </div>

            <div class="card-body">
              <div class="row ml-2">
                <div class="col-md-5">
                  <form [formGroup]="profilForm">
                    <div class="row">

                      <div class="col-md-5">
                        <div class="form-group">
                          <label>Nom Profil</label>
                          <input formControlName="nomP" placeholder="Nom " type="text" class="form-control"
                                 [ngClass]="{'is-invalid': profilForm.get('nomP')?.invalid && showError,'is-valid':profilForm.get('nomP')?.valid && showError}">
                          <span *ngIf="profilForm.get('nomP')?.hasError('required')" class="error invalid-feedback">Nom Profil is required.</span>
                          <span *ngIf="profilForm.get('nomP')?.hasError('maxlength')" class="error invalid-feedback">Maximum length is 30
                     characters.</span>
                        </div>
                      </div>

                      <div class="col-md-7">
                        <div class="form-group">
                          <label>Description</label>
                          <input formControlName="des_P" placeholder="Description" type="text" class="form-control "
                                 [ngClass]="{'is-invalid': profilForm.get('des_P')?.invalid && showError,'is-valid':profilForm.get('des_P')?.valid && showError}">
                          <span *ngIf="profilForm.get('des_P')?.hasError('required')" class="error invalid-feedback">Description is required.</span>
                          <span *ngIf="profilForm.get('des_P')?.hasError('maxlength')" class="error invalid-feedback">Maximum length is 100
                     characters.</span>
                        </div>
                      </div>

                    </div>
                  </form>
                </div>

                <div class="col-md-2">
                  <div class="form-group">
                    <label for="model-select">Select Model:</label>
                    <select class="form-control" id="model-select" [formControl]="model">
                      <option value="null">-- Clear --</option>
                      <option *ngFor="let mod of models" [value]="mod.idModel">{{ mod.obs }}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer ">
              <div class="col-3 ml-auto">
                <button class="btn btn-block btn-sm bg-gradient-success" type="button" (click)="addProfil()">Save <i
                  class="fa-regular fa-circle-check"></i></button>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="card  card-outline card-indigo">
            <div class="card-header">

              <h3 class="card-title text-bold ">Affecter des Fonctions</h3>
              <div class="card-tools">
                <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                  class="fas fa-minus"></i>
                </button>
              </div>
            </div>
            <div class="card-body  " style="display: block;">

              <p-tree [value]="treeData" [selectionMode]="'checkbox'" [(selection)]="selectedItems"
                      [filter]="true" filterPlaceholder="Search Functions..."
                      class=" p-inputtext-sm "
                      (selectionChange)="onSelectedItemsChange()">

              </p-tree>

            </div>
          </div>

        </div>
      </div>


    </div>
  </div>

</div>
