<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Paiement en Avance </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/encaissement/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Paiement Avance</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row col-12">
        <div class="col-12 table-responsive" style="height: 300px;">
          <table class="table table-hover table-striped table-head-fixed">
            <thead>
            <tr>
              <th>Reference</th>
              <th>ID Client</th>
              <th>Produit</th>
              <th>N° Téléphone</th>
              <th > Pourcentage Payé (%)</th>
              <th>Date Limite</th>
              <th>Montant</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let facture of listFacture">
              <td><span
                class="flex justify-content-around mr-5 text-bold">{{facture.refFacture}}</span>
              </td>
              <td><span class="flex justify-content-sm-center mr-5 ">{{facture.identifiant}}</span>
              <td><span class="flex justify-content-sm-start mr-5 ">{{facture.produit | titlecase}}</span>
              </td>
              <td>
                <ng-container>
                  <i class="fas fa-phone"></i> {{ facture.nappel }}
                </ng-container>

              </td>
              <td>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='orange'" [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                               color="orange"
                               [value]='calculPercent(facture)'></p-progressBar>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='purple'" [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                               color="#078fa1"
                               [value]='calculPercent(facture)'></p-progressBar>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='green'" [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                               color="#119b11"
                               [value]='calculPercent(facture)'></p-progressBar>
              </td>


              <td><span class="flex justify-content-sm-start ">{{facture.datLimPai |date: 'MM/dd/yyyy' }}</span>
              </td>


              <td><span class="flex justify-content-around  text-bold"> {{facture.montant | number: '1.3-3'}} <small> TND</small></span>
              </td>

            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row col-12"></div>
    </div>


  </div>
</div>
