<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Paiement en Avance </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/encaissement/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Paiement Avance</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row col-12">
        <div class="card col-12 card-default border-round-2xl shadow-2" style="height: 550px;">
          <br>
          <div class="row justify-content-center">
            <form [formGroup]="searchForm" (ngSubmit)="sendSearch()"
                  class="col-sm-12 d-flex justify-content-around px-3">
              <div class="flex-grow-1 ">
                <input pInputText type="text" class="p-inputtext-sm h-2rem"
                       placeholder="Ref facture" formControlName="refFacture"/>
              </div>
              <div class="flex-grow-1 ">
                <input pInputText type="text" class="p-inputtext-sm h-2rem"
                       placeholder="ID Client" formControlName="identifiant"/>
              </div>
              <div class="flex-grow-1 ">
                <input pInputText type="text" class="p-inputtext-sm h-2rem"
                       placeholder="Produit" formControlName="produit"/>
              </div>

              <div class="flex-grow-1 ">
                <input pInputText type="text" class="p-inputtext-sm h-2rem"
                       placeholder="Compte Facturation" formControlName="compteFacturation"/>
              </div>
              <div class="flex-grow-1 ">
                <input pInputText type="text" class="p-inputtext-sm h-2rem"
                       placeholder="Montant inferieur à" pKeyFilter="num" formControlName="montant"/>
              </div>

              <p-button label="Search" type="submit"
                        styleClass=" h-2rem p-button-sm p-button-success p-button-raised float-right"></p-button>

            </form>
          </div>

          <br>
          <div class="col-12 table-responsive smooth-scroll" style="max-height: 415px;">
            <table class="table table-hover table-striped table-head-fixed">
              <thead>
              <tr>
                <th>Reference</th>
                <th>ID Client</th>
                <th>Produit</th>
                <th>N° Téléphone</th>
                <th> Pourcentage Payé (%)</th>
                <th>Date Limite</th>
                <th>Montant</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let facture of listFacture" (dblclick)="selectFacture(facture)"
                  [class.bg-gradient-lightblue]="facture.idFacture ===factureSelected?.idFacture"
                  [style.cursor]="'pointer'">
                <td><span
                  class="flex justify-content-around mr-5 text-bold">{{facture.refFacture}}</span>
                </td>
                <td><span class="flex justify-content-sm-center mr-5 ">{{facture.identifiant}}</span>
                <td><span class="flex justify-content-sm-start mr-5 ">{{facture.produit | titlecase}}</span>
                </td>
                <td>
                  <ng-container>
                    <i class="fas fa-phone"></i> {{ facture.nappel }}
                  </ng-container>

                </td>
                <td>
                  <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='orange'"
                                 [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                                 color="orange"
                                 [value]='calculPercent(facture)'></p-progressBar>
                  <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='purple'"
                                 [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                                 color="#D81B60"
                                 [value]='calculPercent(facture)'></p-progressBar>
                  <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='blue'"
                                 [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                                 color="#078fa1"
                                 [value]='calculPercent(facture)'></p-progressBar>
                  <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='green'"
                                 [style]="{ height: '15px',width:'160px'}" [showValue]="true"
                                 color="#119b11"
                                 [value]='calculPercent(facture)'></p-progressBar>
                </td>


                <td><span class="flex justify-content-sm-start ">{{facture.datLimPai |date: 'MM/dd/yyyy' }}</span>
                </td>


                <td><span class="flex justify-content-around  text-bold"> {{facture.montant | number: '1.3-3'}} <small> TND</small></span>
                </td>

              </tr>

              </tbody>

            </table>

          </div>
          <div class="flex-auto">
            <p-paginator [first]="(page.value ?? 0)"
                         [rows]="(size.value ?? 8)"
                         [totalRecords]="totalRecords"
                         [rowsPerPageOptions]="[4, 8, 16]"
                         (onPageChange)="paginate($event)">
            </p-paginator>

          </div>

        </div>
      </div>
      <br>
      <br>

      <div class="row">
        <div class="col-sm-11 mx-auto">
          <div class="card card-default border-round-2xl shadow-2">


            <div class="card-body">
              <button class=" float-right mr-3 btn btn-sm col-sm-1 text-gray-900 bg-yellow-500  border-round"
                      (click)="resetSelection()"><i
                class="fa-solid fa-eraser"></i> Clear
              </button>

              <div class="text-center ml-6">
                <a class="h3 text-blue-800 ">Fichier de Facturation</a>
              </div>

              <div class="card-default border-round-2xl  pb-4 shadow-3">

                <div class="row mt-6 pl-3 pt-4">
                  <div class="col-sm-3  ">
                    <strong>- Reference:</strong>

                    <span class="ml-2"> {{ factureSelected?.refFacture }}

                </span></div>
                  <div class="col-sm-3  ">
                    <strong>- Produit:</strong>
                    <span class="ml-2"> {{ factureSelected?.produit | titlecase}}</span>
                  </div>
                  <div class="col-sm-3  ">
                    <strong>- Compte:</strong>
                    <span class="ml-2"> {{ factureSelected?.compteFacturation }}
                </span></div>
                  <div class="col-sm-3  ">
                    <strong>- Téléphone:</strong>
                    <span class="ml-2">  {{ factureSelected?.nappel }}
                </span></div>
                </div>

                <div class="row mt-4 pl-3">
                  <div class="col-sm-3">
                    <strong>- ID Client:</strong>
                    <span class="ml-3"> {{ factureSelected?.identifiant }}
                </span></div>
                  <div class="col-sm-3">
                    <strong>- Type:</strong>
                    <span class="ml-3">{{ factureSelected?.typeIdent }}
                </span></div>
                  <div class="col-sm-3">
                  <span class="ml-3"><strong>- Code Client:</strong>
                    {{ factureSelected?.codeClient }}
                </span></div>
                  <div class="col-sm-3">
                  <span class="ml-3"><strong>- Nbr Paiement:</strong>
                    {{ factureSelected?.encaissements?.length }}
                </span></div>
                </div>

                <br>


                <div class="mx-auto col-sm-11 border-2 border-blue-700  mt-4 " style="background-color: aliceblue">
                  <div class="row justify-content-end mt-2 mb-3">
                    <div class="col-sm-3">
                      <strong>Tranche:</strong>
                      {{ factureSelected?.periode | titlecase}}
                    </div><div class="col-sm-3">
                      <strong>Date Limite:</strong>
                      {{ factureSelected?.datLimPai }}
                    </div>
                    <div class="col-sm-2">
                      <strong>Remise :</strong>
                      {{ factureSelected?.solde }} <strong>%</strong>
                    </div>
                    <div class="col-sm-3">
                      <strong>Montant : </strong>
                      <span class="text-bold">{{ factureSelected?.montant | number: '1.3-3' }}</span> TND
                    </div>
                  </div>
                </div>
              </div>

              <br>
              <br>
              <div class="row">
                <div class="col-8 pl-5 ">

                  <div class="row ml-3 "><h4>
                    <i class="fa-solid fa-shopping-cart"></i> - Effectuer un Paiement</h4>
                  </div>
                  <br>
                  <ng-container *ngIf="encaissementForm">
                    <form [formGroup]="encaissementForm">
                      <div class=" row col-12">
                        <div class="col-10">
                          <div class="row">
                            <h5>
                              <i class="pi pi-wallet"></i> - Méthode Paiement .
                            </h5>
                          </div>
                          <div class="row mt-3 justify-content-evenly">
                            <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeESPECES() }"
                               (click)="selectEspece()">
                              <i class="fa fa-coins "></i> Especes
                            </a>
                            <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCheque() }"
                               (click)="selectCheque()">
                              <i class="fa fa-receipt"></i> Cheque
                            </a>
                            <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCarteBancaire() }"
                               (click)="selectCreditCard()">
                              <i class="fa fa-credit-card"></i> Carte Bancaire
                            </a>

                          </div>
                          <div class="row mt-3">
                            <h5>
                              <i class="pi pi-book"></i> - Info Paiement .
                            </h5>
                          </div>
                          <div class="row " *ngIf="isModeESPECES()">

                          </div>
                          <div class="row mt-2 align-content-around" *ngIf="isModeCheque()">

                            <div class="row mt-1 col-12 justify-content-around">
                              <div class="form-group col-auto ">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-bank"></i></span>
                                  </div>
                                  <input formControlName="banque" placeholder="Banque" type="text"
                                         class="form-control">

                                </div>
                              </div>
                              <div class="form-group col-auto ">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                                  </div>
                                  <input formControlName="agenceBQ" placeholder="Agence" type="text"
                                         class="form-control">

                                </div>
                              </div>

                            </div>

                            <div class="row col-12 mt-1 justify-content-around">
                              <div class="form-group col-auto">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-water"></i></span>
                                  </div>
                                  <input formControlName="numCheq" placeholder="Numero cheque" type="text"
                                         class="form-control">

                                </div>
                              </div>
                              <div class="form-group col-auto ">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-water"></i></span>
                                  </div>
                                  <input formControlName="rib" placeholder="Numero RIB" type="text"
                                         class="form-control">

                                </div>
                              </div>
                            </div>

                          </div>
                          <div class="row mt-2 " *ngIf="isModeCarteBancaire()">
                            <div class="row mt-2 col-12 justify-content-around">
                              <div class="form-group col-auto ">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-bank"></i></span>
                                  </div>
                                  <input formControlName="banque" placeholder="Banque" type="text"
                                         class="form-control">

                                </div>
                              </div>
                              <div class="form-group col-auto ">
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                                  </div>
                                  <input formControlName="agenceBQ" placeholder="Agence" type="text"
                                         class="form-control">

                                </div>
                              </div>
                              <div class="row mt-2 justify-content-center">
                                <div class="form-group col-auto ">
                                  <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-rectangle-list"></i></span>
                                    </div>
                                    <input formControlName="agenceBQ" placeholder="Numero Carte" type="text"
                                           class="form-control">
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row col-12">

                            <div class="row col-sm-12">
                              <div class="form-group col-md-4 mt-1">
                                <label class="col-sm-auto col-form-label">ID :</label>
                                <div class="col-12">
                                  <input type="text" formControlName="identifiant"
                                         class="form-control form-control-sm col-auto form-control-border border-width-2  "
                                         placeholder="Id client">
                                </div>
                              </div>
                              <div class="form-group  col-md-4 mt-1">
                                <label class="col-sm-auto col-form-label">Type :</label>
                                <div class="col-12">
                                  <select formControlName="typeIdent"
                                          class="form-control form-control-sm col-auto form-control-border border-width-2 ">
                                    <option value="Carte d'identité">Carte d'identité</option>
                                    <option value="Passeport">Passeport</option>
                                    <option value="Permis de conduire">Permis de conduit</option>
                                  </select>
                                </div>
                              </div>
                              <div class="form-group col-md-4 mt-1  ">
                                <label class="col-sm-auto col-form-label">Periode :</label>
                                <div class="col-12">
                                  <select formControlName="periode"
                                          class="form-control form-control-sm col-auto form-control-border border-width-2 ">
                                    <option value="">Vide</option>
                                    <option value="3 mois">3 mois</option>
                                    <option value="6 mois">6 mois</option>
                                    <option value="12 mois">12 mois</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row col-12">

                            </div>

                            <div class="row col-12">

                              <div class="form-group ml-auto ">
                                <label class="col-sm-auto col-form-label">Montant Payé :</label>
                                <div class="col-sm-auto mt-1 p-inputgroup p-buttonset">
                                  <p-inputNumber
                                    formControlName="montantEnc"
                                    class=" h-2rem w-5"
                                    mode="currency"
                                    currency="TND"

                                  ></p-inputNumber>
                                  <p-button (click)="payAll()" icon="fa fa-sack-dollar"
                                            styleClass="p-button-sm p-button-success  h-2rem"></p-button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>


                      </div>

                    </form>
                  </ng-container>

                </div>
                <div class="col-3  ">
                  <div class="row  "><h4><i class="fa-solid fa-scroll"></i> - Journal de Paiement</h4></div>
                  <br>
                  <div class="overflow-y-auto smooth-scroll " style="max-height: 350px">
                    <p-timeline [value]="getSortedEncaissements(factureSelected?.encaissements || []) || []">
                      <ng-template pTemplate="marker" let-encaiss>
                        <span class="custom-marker ">
                           <i class="fas fa-check-circle text-green-600"></i>
                        </span>
                      </ng-template>
                      <ng-template pTemplate="content" let-encaiss>
                        <small class="p-text-secondary">{{ encaiss.dateEnc | date: 'dd/MM/yyyy' }}</small>
                        <br>
                        <small class="p-text-secondary">{{ encaiss.montantEnc | number: '1.3-3' }}</small>
                      </ng-template>
                      <ng-template pTemplate="opposite" let-encaiss>
                        {{ encaiss.modePaiement | titlecase}}
                      </ng-template>
                    </p-timeline>
                  </div>
                </div>

              </div>
              <div class="row  col-sm-12">

                <p-button (click)="validerPaiement()" label="Valider Paiement" icon="fas fa-handshake" class="ml-auto"
                          styleClass="p-button-rounded p-button-raised p-button-outlined   "></p-button>
              </div>
            </div>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
