<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <div class="row ">
            <h1 class="m-0">Dashboard </h1>

          </div>

        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-6">

          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{listMonthlyFacture.length}}</h3>
              <p>Nouveaux Factures</p>
            </div>
            <div class="icon">
              <i class="fa-brands fa-shopify"></i>
            </div>
            <a routerLink="/encaissement/caisse/facture" class="small-box-footer">Créer Facture <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{((listFactureCorrect.length*100)/listyearlyFacture.length) |number:'1.0-0'}}<sup style="font-size: 20px">%</sup></h3>
              <p>Pourcentage Payé</p>
            </div>
            <div class="icon">
              <i class="fas fa-money-bill-trend-up "></i>
            </div>
            <a routerLink="/encaissement/caisse/avance" class="small-box-footer">Faire Paiement <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{nbrEmploye}}/{{nbrCaisse}}</h3>
              <p>Employes/Caisses</p>
            </div>
            <div class="icon">
              <i class="fa fa-user-tie"></i>
            </div>
            <a routerLink="/encaissement/ett/caisse" class="small-box-footer">Gérer Caisses <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{listFactureRetard.length|number}}</h3>
              <p>Paiement en Retard</p>
            </div>
            <div class="icon">
              <i class="fas fa-coins "></i>
            </div>
            <a routerLink="/encaissement/caisse/avance" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

      </div>

      <br>

      <div class="row">
        <div class="col-md-12">
          <div class="card card-outline card-blue border-round-2xl">
            <div class="card-header">
              <h5 class="text-center">Rapport Récapitulatif Semestriel</h5>

            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-md-8">
                  <p class="text-center">
                    <strong>Sales: 1 Jan, 2014 - 30 Jul, 2014</strong>
                  </p>
                  <div class="chart ">

                    <canvas  id="Chart" width="750" height="180">
                      {{lineChartData}}
                    </canvas>
                  </div>

                </div>

                <div class="col-md-4">
                  <p class="text-center">
                    <strong>Statistique des Factures</strong>
                  </p>
                  <div class="progress-group">
                    Facture en Cours
                    <span class="float-right"><b>{{listFactureCorrect.length}}</b>/{{listyearlyFacture.length}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-primary" [style.width.%]="calculateProgressPercentage(listFactureCorrect.length,listyearlyFacture.length)"></div>
                    </div>
                  </div>

                  <div class="progress-group">
                    <span class="progress-text">Facture en Retard</span>
                    <span class="float-right"><b>{{listFactureRetard.length}}</b>/{{listyearlyFacture.length}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-warning"  [style.width.%]="calculateProgressPercentage(listFactureRetard.length,listyearlyFacture.length)"></div>
                    </div>
                  </div>

                  <div class="progress-group">
                    Paiement Effectué
                    <span class="float-right"><b>{{getPaimentAdd().length}}</b>/{{gettraceEncaissSemestre().length}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-pink" [style.width.%]="calculateProgressPercentage(getPaimentAdd().length,gettraceEncaissSemestre().length)"></div>
                    </div>
                  </div>

                  <div class="progress-group">
                    Paiement Supprimé
                    <span class="float-right"><b>{{getPaimentDel().length}}</b>/{{gettraceEncaissSemestre().length}}</span>
                    <div class="progress progress-sm">
                      <div class="progress-bar bg-danger" [style.width.%]="calculateProgressPercentage(getPaimentDel().length,gettraceEncaissSemestre().length)"></div>
                    </div>
                  </div>

                </div>

              </div>

            </div>

            <div class="card-footer">
              <div class="row">
                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <h5 class="description-header">TND {{totalRevenu() |number:'1.2-3'}}</h5>
                    <span class="description-text">TOTAL REVENUE</span>
                  </div>

                </div>

                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <h5 class="description-header">$10,390.90</h5>
                    <span class="description-text">TOTAL COST</span>
                  </div>

                </div>

                <div class="col-sm-3 col-6">
                  <div class="description-block border-right">
                    <h5 class="description-header">$24,813.53</h5>
                    <span class="description-text">TOTAL PROFIT</span>
                  </div>

                </div>

                <div class="col-sm-3 col-6">
                  <div class="description-block">
                    <h5 class="description-header">{{(gettraceFactureSemestre().length + gettraceEncaissSemestre().length) | number}}</h5>
                    <span class="description-text">Nombre Operations</span>
                  </div>

                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>
</div>
