//blur and transparent
.blur {
  position: relative;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.64); /* Increased transparency (last value) */
  border-radius: 10px; /* Adjust the border-radius as needed */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Increased shadow with a lighter color */
}

.blur::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  filter: blur(30px); /* Increased blur intensity */
  z-index: -1;
}
.card-body {
  padding: 20px;
  color: #333; /* Text color, adjust as needed */
}
