<div class="content-wrapper">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Dashboard </h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
          </ol>
        </div>
      </div>
    </div>
  </div>


  <div class="content">
    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-3 col-6">
          <div class="small-box bg-info">
            <div class="inner">
              <h3>{{listProfils.length}}</h3>
              <p>Profils Créés</p>
            </div>
            <div class="icon">
              <i class="fas fa-circle-info"></i>
            </div>
            <a routerLink="/admin/profil/add" class="small-box-footer">Créer Profil <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>


        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-success">
            <div class="inner">
              <h3>{{pourcentageUsers()}}<sup style="font-size: 20px">%</sup></h3>
              <p>Bounce Rate</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-plus "></i>
            </div>
            <a routerLink="/admin/user/add" class="small-box-footer">Créer Utilisateur <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-warning">
            <div class="inner">
              <h3>{{listUsersMiss.length}}</h3>
              <p>Utilisateurs Incomplets</p>
            </div>
            <div class="icon">
              <i class="fas fa-tools"></i>
            </div>
            <a routerLink="/admin/user/dashboard" class="small-box-footer">Gérer Utilisateur <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

        <div class="col-lg-3 col-6">

          <div class="small-box bg-danger">
            <div class="inner">
              <h3>{{listUsersExpired.length}}</h3>
              <p>Utilisateur Expiré</p>
            </div>
            <div class="icon">
              <i class="fas fa-user-clock "></i>
            </div>
            <a routerLink="/admin/user/dashboard" class="small-box-footer">More info <i
              class="fas fa-arrow-circle-right"></i></a>
          </div>
        </div>

      </div>

      <br>
      <div class="row ">
        <div class="col-md-12 card card-outline blur card-blue border-round-2xl ">
          <div class="card-header  "><p class=" text-center h4"><i class="fas fa-chart-simple mr-2"></i> Statistique des Employés</p></div>
          <div class="d-flex justify-content-around py-4">
            <div class="col-7 ">
              <div class="chart my-auto">
                <canvas id="MyChart" width="700">{{chartBars}}</canvas>
              </div>
            </div>
            <div class="col-4 ">
              <div class="info-box  mb-3 bg-cyan-300 border-round-2xl shadow-3">
                <span class="info-box-icon"><i class="fas fa-user-secret"></i></span>
                <div class="info-box-content">
                  <div class="row ">
                    <div class="col-7 "><span class="info-box-text h5">Admin </span>
                      <span class="info-box-number">{{listUsersAdmin.length}}</span></div>
                    <div class="col-3 text-right">
                      <div class="inner ">
                        <h2>{{(listUsersAdmin.length*100)/listUsers.length |  number:'1.0-2' }}<sup style="font-size: 20px">%</sup></h2>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="info-box shadow-3  mb-3 bg-green-300 border-round-2xl">
                <span class="info-box-icon"><i class="fas fa-user-astronaut "></i></span>
                <div class="info-box-content">
                  <div class="row ">
                    <div class="col-7 "><span class="info-box-text h5"> Back-Office </span>
                      <span class="info-box-number">{{listUsersBO.length}}</span></div>
                    <div class="col-3 text-right">
                      <div class="inner ">
                        <h2>{{(listUsersBO.length * 100) / listUsers.length | number:'1.0-2' }}<sup style="font-size: 20px">%</sup></h2>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="info-box shadow-3 mb-3 bg-yellow-400 border-round-2xl">
                <span class="info-box-icon"><i class="fas fa-cash-register"></i></span>
                <div class="info-box-content">
                  <div class="row ">
                    <div class="col-7 "><span class="info-box-text h5">Front-Office </span>
                      <span class="info-box-number">{{listUsersFO.length}}</span></div>
                    <div class="col-3 text-right">
                      <div class="inner ">
                        <h2>{{((listUsersFO.length * 100) / listUsers.length)|  number:'1.0-2' }}<sup style="font-size: 20px">%</sup></h2>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 17%</span>
                  <h5 class="description-header">$35,210.43</h5>
                  <span class="description-text">TOTAL REVENUE</span>
                </div>

              </div>

              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-warning"><i class="fas fa-caret-left"></i> 0%</span>
                  <h5 class="description-header">$35,210.43</h5>
                  <span class="description-text">TOTAL COST</span>
                </div>

              </div>

              <div class="col-sm-3 col-6">
                <div class="description-block border-right">
                  <span class="description-percentage text-success"><i class="fas fa-caret-up"></i> 20%</span>
                  <h5 class="description-header">{{listZone.length}}</h5>
                  <span class="description-text">Nombre Zones</span>
                </div>

              </div>

              <div class="col-sm-3 col-6">
                <div class="description-block">
                  <span class="description-percentage text-danger"><i class="fas fa-caret-down"></i> 18%</span>
                  <h5 class="description-header">{{listUsers.length}}</h5>
                  <span class="description-text">TOTAL Employés</span>
                </div>

              </div>
            </div>

          </div>
        </div>

      </div>


    </div>
  </div>
</div>
