
<aside class="main-sidebar sidebar-dark-primary elevation-4 ">

  <a routerLink="dashboard" class="brand-link">
    <img src="assets/img/logo.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Tunisie Telecom</span>
  </a>

  <div class="sidebar">
    <div><br>
    </div>
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item ">
          <a routerLink="dashboard" routerLinkActive="active" class="nav-link ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>
        <li class="nav-item ">
          <a href="javascript:void(0)"  class="nav-link">
            <i class="nav-icon fas fa-address-card"></i>
            <p>
              Gestion Utilisateur
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="user/list" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard Utilisateur</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="user/add" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Créer Utilisateur</p>
              </a>
            </li>


          </ul>
        </li>

        <li class="nav-item ">
          <a href="javascript:void(0)"  class="nav-link">
            <i class="nav-icon fas fa-address-card"></i>
            <p>
              Gestion Profil
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>

          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="profil/list" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard Profil</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="profil/add" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Créer Profil</p>
              </a>
            </li>


          </ul>
        </li>
        <li class="nav-item ">
          <a href="javascript:void(0)" role="button" class="nav-link ">
            <i class="nav-icon fas fa-rectangle-list"></i>
            <p>
              Gestion Model
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a routerLink="model/list" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Dashboard model</p>
              </a>
            </li>
            <li class="nav-item">
              <a routerLink="model/add" routerLinkActive="active" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Créer Model</p>
              </a>
            </li>


          </ul>
        </li>
        <li class="nav-item ">
          <a routerLink="fonction/add" routerLinkActive="active" class="nav-link ">
            <i class="nav-icon fas fa-screwdriver-wrench"></i>
            <p>
              Gestion Fonction
            </p>
          </a>
        </li>



      </ul>
    </nav>

  </div>

</aside>




