<div class="hold-transition login-page bg-image" >

  <div class="login-box  ">

    <div class="card card-outline card-primary border-round-2xl ">
      <div class="card-header text-center">
        <a  class="h1"><b>Encaissement</b> TT</a>
      </div>
      <div class="card-body ">
        <p class="login-box-msg ">Sign in to start your session</p>
        <form (ngSubmit)="onSubmit()" >
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Username" [(ngModel)]="form.username" name="username" >
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fa-solid fa-circle-user"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="{{ showPassword ? 'text' : 'password' }}" class="form-control " placeholder="Password" [(ngModel)]="form.password" name="password">
            <div class="input-group-append " (click)="togglePasswordVisibility()">
              <div [style.cursor]="'pointer'" class="input-group-text">
                <span  class="fas" [ngClass]="{'fa-lock': !showPassword, 'fa-lock-open': showPassword}"></span>
              </div>
            </div>
          </div>

            <div class="social-auth-links text-center mt-2 mb-3">
              <button  class="btn btn-block btn-primary border-round-xl">
                 Login    <i class="fas fa-arrow-right-to-bracket "></i>
              </button>
            </div>
          <div >
            <div class="alert alert-danger" *ngIf="isLoginFailed">
             {{ errorMessage }} <i class="fas fa-triangle-exclamation fa-beat-fade"></i>
            </div>
          </div>

        </form>


      </div>

    </div>


  </div>
</div>
