<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Gestion Caisse</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/encaissement/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Gestion Caisse</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">

          <section class="content">
            <div class="row ml-1">
              <div class="card card-primary card-outline col-md-12">
                <div class="card-header">

                </div>
                <div class="card-body">
                  <h4>Barre de Gestion</h4>
                  <div class="row">
                    <div class="col-3 col-sm-2">
                      <div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist"
                           aria-orientation="vertical">
                        <a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home"
                           role="tab" aria-controls="vert-tabs-home" aria-selected="true">
                          <i class="fas fa-cash-register"></i> Creation Caisse
                        </a>
                        <a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile"
                           role="tab" aria-controls="vert-tabs-profile" aria-selected="false">
                          <i class="fas fa-list-dots"></i> Liste des Caisses
                          </a>
                        <a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages"
                           role="tab" aria-controls="vert-tabs-messages" aria-selected="false"><i
                          class="fas fa-arrows-down-to-people"></i> Affecter Caisse</a>
                        <a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings"
                           role="tab" aria-controls="vert-tabs-settings" aria-selected="false"><i
                          class="fas fa-pen-fancy"></i> Update Caisse</a>
                      </div>
                    </div>
                    <div class="col-7 col-sm-10">
                      <div class="tab-content" id="vert-tabs-tabContent">
                        <div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel"
                             aria-labelledby="vert-tabs-home-tab">
                          <div class="row">
                            <div class="col-md-12">
                              <p-divider align="left">
                                <div class="inline-flex align-items-center">
                                  <i class="fas fa-cash-register mr-2"></i>
                                  <b>Données de Caisse</b>
                                </div>
                              </p-divider>
                            </div>
                          </div>
                          <form [formGroup]="caisseForm">
                            <div class="row ml-2">

                              <div class="col-md-3">
                                <div class="form-group">
                                  <label> N° Caisse : </label>
                                  <div class="input-group input-group-sm">

                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-list-numeric"></i></span>
                                    </div>
                                    <select formControlName="numCaise" class="form-control ">
                                      <option value="" disabled>-- Choisir --</option>
                                      <option value="0">Valid</option>
                                      <option value="1">Expired</option>
                                    </select>

                                  </div>
                                </div>
                              </div>
                              <div class="col-md-3 ml-4">
                                <div class="form-group">
                                  <label>Status :</label>
                                  <div class="input-group input-group-sm">
                                    <div class="input-group-prepend">
                                      <span class="input-group-text"><i class="fas fa-check-circle"></i></span>
                                    </div>
                                    <select formControlName="f_Actif" class="form-control">
                                      <option value="" disabled>-- Choisir --</option>
                                      <option value="1">Activer</option>
                                      <option value="0">Desactiver</option>
                                    </select>
                                  </div>
                                </div>
                              </div>

                            </div>
                          </form>
                          <div class="row">
                            <div class="col-md-7">
                              <p-divider align="left">
                                <div class="inline-flex align-items-center">
                                  <i class="fas fa-shop mr-2"></i>
                                  <b>Espace TT</b>
                                </div>
                              </p-divider>
                            </div>
                            <div class="col-md-5">
                              <p-divider align="left">
                                <div class="inline-flex align-items-center">
                                  <i class="fas fa-user-circle mr-2"></i>
                                  <b>Choisir Compte</b>
                                </div>
                              </p-divider>
                            </div>
                          </div>
                          <div class="row ml-2">
                            <div class="col-md-7">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Zone</label>
                                    <div class="input-group input-group-sm">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-globe"></i></span>
                                      </div>
                                      <select class="form-control" [formControl]="zone">
                                        <option value="">-- Clear --</option>
                                        <option *ngFor="let item of zones"
                                                [value]="item.idZone">{{item.cod_ZONE}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Direction Regionale</label>
                                    <div class="input-group input-group-sm">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-city"></i></span>
                                      </div>
                                      <select class="form-control" [formControl]="directionreg">
                                        <option value="">-- Clear --</option>
                                        <option *ngFor="let item of dregionals" [value]="item.idDr">{{item.dr}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="form-group">
                                    <label>Espace TT</label>
                                    <div class="input-group input-group-sm">
                                      <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fas fa-shop"></i></span>
                                      </div>
                                      <select class="form-control" [formControl]="ett">
                                        <option value="">-- Clear --</option>
                                        <option *ngFor="let item of etts" [value]="item.idEtt">{{item.adr}}</option>
                                      </select>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div class="col-1">
                              <p-divider layout="vertical"></p-divider>
                            </div>

                            <div class="col-md-3 ">
                              <div class="form-group">
                                <label>Utilisateur</label>
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                                  </div>
                                  <select class="form-control" [ngModel]="userselected" (ngModelChange)="userselected = $event">
                                    <option value="">-- Clear --</option>
                                    <option *ngFor="let item of usersfromett"
                                            [value]="item.idUser">{{item.login}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-12">
                              <p-divider></p-divider>
                            </div>
                          </div>
                          <br>
                          <div class="row mr-2">
                            <div class="col-md-auto">
                              <span class="text-info text-sm"><i class="fas fa-exclamation-triangle "></i> Choisissez un espace TT pour obtenir les N°Caisse disponibles </span>
                            </div>
                            <div class="col-3 ml-auto">
                              <button class="btn btn-sm btn-block bg-gradient-success" type="button"
                                      (click)="addCaisse()">Save <i
                                class="fa-regular fa-circle-check"></i></button>
                            </div>
                          </div>
                          <div class="col-md-4">

                          </div>
                        </div>
                        <div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel"
                             aria-labelledby="vert-tabs-profile-tab">
                          <div class="card" style="height: 600px">
                            <p-table [value]="listCaisse" [tableStyle]="{'min-width': '60rem'}">
                              <ng-template pTemplate="header">
                                <tr>
                                  <th pSortableColumn="numCaise" style="width:20%">N°Caisse <p-sortIcon field="numCaise"></p-sortIcon></th>
                                  <th pSortableColumn="adr" style="width:20%">Espace TT <p-sortIcon field="adr"></p-sortIcon></th>
                                  <th pSortableColumn="f_Actif" style="width:20%">Status <p-sortIcon field="f_Actif"></p-sortIcon></th>
                                  <th pSortableColumn="login" style="width:20%">Compte <p-sortIcon field="login"></p-sortIcon></th>
                                  <th style="width:20%">Supprimer </th>
                                </tr>
                              </ng-template>
                              <ng-template pTemplate="body" let-caisse>
                                <tr>
                                  <td>{{caisse.numCaise}}</td>
                                  <td>{{caisse.cod_ett.adr}}</td>
                                  <td>{{caisse.f_Actif}}</td>
                                  <td>{{caisse.login.login}}</td>
                                  <td><button class="btn btn-sm bg-gradient-danger"><i class="fas fa-trash-can"></i></button></td>
                                </tr>
                              </ng-template>
                            </p-table>
                          </div>

                        </div>
                        <div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel"
                             aria-labelledby="vert-tabs-messages-tab">


                        </div>
                        <div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel"
                             aria-labelledby="vert-tabs-settings-tab">
                          Pellentesque vestibulum commodo nibh nec blandit. Maecenas neque magna, iaculis tempus turpis
                          ac, ornare sodales tellus. Mauris eget blandit dolor. Quisque tincidunt venenatis vulputate.
                          Morbi euismod molestie tristique. Vestibulum consectetur dolor a vestibulum pharetra. Donec
                          interdum placerat urna nec pharetra. Etiam eget dapibus orci, eget aliquet urna. Nunc at
                          consequat diam. Nunc et felis ut nisl commodo dignissim. In hac habitasse platea dictumst.
                          Praesent imperdiet accumsan ex sit amet facilisis.
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>
