<aside class="main-sidebar sidebar-dark-primary main-sidebar-custom elevation-4 ">

  <a routerLink="dashboard" class="brand-link">
    <img src="assets/img/logo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
         style="opacity: .8">
    <span class="brand-text font-weight-light">Encaissement TT</span>
  </a>

  <div class="sidebar">
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/cashier.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a href="javascript:void(0)" class="d-block text-uppercase">{{username}}  </a>
      </div>
    </div>
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

        <li class="nav-item ">
          <a routerLink="dashboard" routerLinkActive="active" class="nav-link ">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              Dashboard
            </p>
          </a>
        </li>

        <li class="nav-item" *ngIf="Recherche">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-magnifying-glass"></i>
            <p>
              Recherche
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item" *ngIf="Recherche_Encaissement">
              <a routerLink="recherche/encaissement" class="nav-link ml-2">
                <i class="fas fa-magnifying-glass-dollar nav-icon"></i>
                <p>Recherche Encaissement</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="Recherche_Facture">
              <a routerLink="recherche/facture" class="nav-link ml-2" >
                <i class="fas fa-credit-card nav-icon"></i>
                <p>Recheche Facture</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="journal ">
              <a routerLink="recherche/journal" class="nav-link ml-2">
                <i class="fas fa-file-invoice nav-icon"></i>
                <p>Journal Encaissement</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="Encaissement">
          <a href="javascript:void(0)" class="nav-link ">
            <i class="nav-icon  fas fa-cash-register"></i>
            <p>
              Encaissement
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item" *ngIf="Encaissement_Facture">
              <a routerLink="caisse/facture" class="nav-link ml-2">
                <i class="fas fa-coins nav-icon"></i>
                <p>Encaissement Facture</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="Paiement_Avance">
              <a routerLink="caisse/avance" class="nav-link ml-2">
                <i class="fas fa-credit-card nav-icon"></i>
                <p>Paiement Avance</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="Etat_edition">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon  fas fa-arrow-right-arrow-left"></i>
            <p>
              Etat d'edition
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item" *ngIf="E1">
              <a routerLink="etat/e1" class="nav-link ml-2">
                <i class="fas fa-coins nav-icon"></i>
                <p>E1 Journal Encaissement</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="E2">
              <a routerLink="etat/e2" class="nav-link ml-2">
                <i class="fas fa-credit-card nav-icon"></i>
                <p>E2 Journal Modification</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="E3">
              <a routerLink="etat/e3" class="nav-link ml-2">
                <i class="fas fa-credit-card nav-icon"></i>
                <p>E3 Bordereau de versement</p>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item" *ngIf="ETT">
          <a href="javascript:void(0)" class="nav-link">
            <i class="nav-icon fas fa-shop"></i>
            <p>
              Gestion ETT
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview" style="display: none;">
            <li class="nav-item" *ngIf="paiement">
              <a routerLink="ett/paiement" class="nav-link ml-2">
                <i class="far fa-circle nav-icon"></i>
                <p>Gestion des paiement</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="Bordereau">
              <a href="javascript:void(0)" class="nav-link ml-2">
                <i class="far fa-circle nav-icon"></i>
                <p>
                  Gestion Bordereau
                  <i class="right fas fa-angle-left"></i>
                </p>
              </a>
              <ul class="nav nav-treeview" style="display: none;">
                <li class="nav-item" *ngIf="Generation">
                  <a routerLink="ett/bordereau/generation" class="nav-link ml-5">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Generation Bordereau</p>
                  </a>
                </li>
                <li class="nav-item" *ngIf="Consultation">
                  <a routerLink="ett/bordereau/consultation" class="nav-link ml-5">
                    <i class="far fa-dot-circle nav-icon"></i>
                    <p>Consultation Bordereau</p>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item" *ngIf="caisses">
              <a routerLink="ett/caisse" class="nav-link ml-2">
                <i class="far fa-circle nav-icon"></i>
                <p>Gestion des caisses</p>
              </a>
            </li>
            <li class="nav-item" *ngIf="journe">
              <a href="javascript:void(0)" class="nav-link ml-2">
                <i class="far fa-circle nav-icon"></i>
                <p>Validation journée</p>
              </a>
            </li>
          </ul>
        </li>

      </ul>
    </nav>

  </div>
  <div class="sidebar-custom">
    <a href="javascript:void(0)" class="btn btn-link text-sm"><i class="fas fa-cogs"> </i> Password</a>
    <a (click)="Logout()" class="btn btn-secondary hide-on-collapse pos-right"><i class="fas fa-person-running"></i>
      Logout</a>

  </div>
</aside>




