<div class="content">
  <div class="container-fluid">
    <div class="card" style="height: 660px">
      <div style="overflow-x: auto; max-width: 100%;">
        <p-table [value]="listFacture"
                 [paginator]="true"
                 [rows]="size"
                 [showCurrentPageReport]="true"
                 currentPageReportTemplate="Showing {first}  to {last} of {totalRecords} factures"
                 [rowHover]="true"


                 responsiveLayout="stack" [tableStyle]="{'min-width': '55rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="refFacture" style="width:15%">Reference
                <p-sortIcon field="refFacture"></p-sortIcon>
              </th>
              <th pSortableColumn="identifiant" style="width:10%">ID
                <p-sortIcon field="identifiant"></p-sortIcon>
              </th>
              <th pSortableColumn="produit" style="width:15%">Produit
                <p-sortIcon field="produit"></p-sortIcon>
              </th>
              <th pSortableColumn="nappel" style="width:15%">N°Appel
                <p-sortIcon field="nappel"></p-sortIcon>
              </th>
              <th style="width: 15%"> Pourcentage Payé </th>
              <th pSortableColumn="datLimPai" style="width:15%">Date limite
                <p-sortIcon field="datLimPai"></p-sortIcon>
              </th>
              <th pSortableColumn="montant" style="width:20%">Montant
                <p-sortIcon field="montant"></p-sortIcon>
              </th>
              <th style="width:5%">Choisir</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-facture>
            <tr (dblclick)="ImportFacture(facture)">
              <td><span
                class="flex justify-content-around mr-5 text-bold">{{facture.refFacture}}</span>
              </td>
              <td><span class="flex justify-content-around mr-5 ">{{facture.identifiant}}</span>
              <td><span class="flex justify-content-around mr-5 ">{{facture.produit | titlecase}}</span>
              </td>
              <td>
                <ng-container>
                  <i class="fas fa-phone"></i> {{ facture.nappel }}
                </ng-container>

              </td>
              <td>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='orange'" [style]="{ height: '15px',width:'130px'}" [showValue]="true"
                               color="orange"
                               [value]='calculPercent(facture)'></p-progressBar>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='purple'" [style]="{ height: '15px',width:'130px'}" [showValue]="true"
                               color="#078fa1"
                               [value]='calculPercent(facture)'></p-progressBar>
                <p-progressBar *ngIf="getProgressBarColor(calculPercent(facture))==='green'" [style]="{ height: '15px',width:'130px'}" [showValue]="true"
                               color="#119b11"
                               [value]='calculPercent(facture)'></p-progressBar>
              </td>

              <td><span class="flex justify-content-around mr-5 ">{{facture.datLimPai |date: 'MM/dd/yyyy' }}</span>
              </td>
              <td><span class="flex justify-content-around mr-5 text-bold"> {{facture.montant | number: '1.3-3'}}
                <small> TND</small></span></td>

              <td class="flex justify-content-center">

                <button pRipple class="btn btn-sm bg-gradient-lightblue " (click)="ImportFacture(facture)"><i
                  class="fas fa-arrow-right-to-file"></i>
                </button>

              </td>
            </tr>
          </ng-template>

        </p-table>
      </div>
    </div>
  </div>
</div>
