<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Modifier Profile</h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/admin/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Modifier Profile</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row ">
        <div class="col">
          <div class="d-flex justify-content-center">
            <div class=" text-center">
              <a class="my-4 h2"><i class="fas fa-search mr-2"></i> Recherche Profile</a>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12 ">

          <section class="content">
            <div class="row">
              <div class="col-md-3">

                <button type="button" class="btn btn-primary btn-block mb-3" (click)="searchProfils()">Recherche
                </button>


                <div class="card  border-round-xl">
                  <div class="card-header">
                    <h3 class="card-title"><i class="fas fa-filter"></i> Filters</h3>
                    <div class="card-tools">
                      <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                      </button>
                    </div>
                  </div>
                  <div class="card-body p-0" style="display: block;">
                    <ul class="nav nav-pills flex-column">
                      <li class="nav-item active">
                        <div class="d-flex align-items-center">
                          <a class="nav-link">
                            <i class="far fa-file-alt"></i> Nom Profile
                          </a>

                          <input type="text" class="form-control form-control-sm col-md-6 mr-2 ml-auto border-round-xl " [(ngModel)]="keyword"/>

                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="d-flex align-items-center">
                          <a class="nav-link">
                            <i class="fas fa-text-width"></i> Description
                          </a>
                          <input type="text" class="form-control border-round-xl form-control-sm col-md-6 mr-2 ml-auto " [(ngModel)]="desc"/>

                        </div>
                      </li>
                      <li class="nav-item">
                        <div class="d-flex align-items-center">
                          <a class="nav-link">
                            <i class="fas fa-arrows-up-down"></i> Size
                          </a>
                          <select class="form-control border-round-xl form-control-sm col-md-3 mr-2 ml-auto" [(ngModel)]="size">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                          </select>

                        </div>
                      </li>
                      <li class="nav-item">
                        <button class="btn bg-transparent float-right" (click)="resetFilter()">
                          Reset <i class="fas fa-xmark-circle"></i>
                        </button>
                      </li>
                    </ul>
                  </div>

                </div>

              </div>

              <div class="col-md-9">
                <div class="card border-round-xl card-primary card-outline">
                  <div class="card-header">
                    <h3 class="card-title text-bold">Table Profiles</h3>
                    <div class="card-tools">
                      <button type="button" class="btn border-round-xl btn-tool bg-gradient-danger" [disabled]="!profilUpdate">
                        <i class="far fa-trash-alt"></i>
                      </button>
                      |
                      <button type="button" class="btn  btn-tool border-round-xl  bg-gradient-warning" [disabled]="!profilUpdate"
                              (click)="Clear()"><i class="fas fa-remove"></i>
                      </button>
                      |
                      <button type="button" class="btn  btn-tool border-round-xl bg-gradient-info" (click)="refresh()">
                        <i class="fas fa-sync-alt"></i>
                      </button>
                    </div>

                  </div>

                  <div class="card-body p-0">
                    <div class="mailbox-controls with-border text-center">


                      <div class="btn-group btn-group-sm">

                        <ul class="pagination pagination-sm  m-1 ">
                          <li class="page-item">
                            <button class="page-link border-round-sm btn-default btn-sm" [disabled]="userPage.first"
                                    (click)="onPrev()"><i
                              class="fas fa-chevron-left"></i></button>
                          </li>

                          <li class="page-item" *ngFor="let p of pages" [class.active]="p === page">
                            <button class="page-link border-round-sm btn-default btn-sm" [disabled]="p === page"
                                    (click)="goToPage(p)">{{p + 1}}</button>
                          </li>

                          <li class="page-item">
                            <button class="page-link border-round-sm btn-default btn-sm" [disabled]="userPage.last"
                                    (click)="onNext()"><i
                              class="fas fa-chevron-right"></i></button>
                          </li>
                        </ul>
                      </div>


                    </div>
                    <div class="table-responsive mailbox-messages">
                      <table class="table table-hover table-striped">
                        <thead>
                        <tr>

                          <th>Nom Profile</th>
                          <th>Description</th>
                          <th>Liste des Fonctions</th>

                        </tr>
                        </thead>
                        <tbody>
                        <ng-container *ngFor="let profil of profils">
                          <tr class="" [class.bg-gradient-lightblue]="profil.idProfil === profilUpdate?.idProfil"
                              (dblclick)="onRowDoubleClick(profil)">

                            <td class="mailbox-name"><b>{{profil.nomP}}</b></td>
                            <td class="mailbox-date">{{profil.des_P}}</td>
                            <td class="mailbox-subject">
                              <b *ngFor="let fonc of profil.fonctions">
                                <span *ngIf="fonc.fon_COD_F === ''">{{fonc.nomF}} - </span>
                              </b>
                            </td>
                          </tr>
                        </ng-container>

                        </tbody>
                      </table>

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>
      <div class="row ">
        <div class="col">

          <div class="d-flex justify-content-center">

            <div class=" text-center">
              <a class="my-4 h2 "> <i class="fas fa-pen-to-square mr-2"></i> Update Profil </a>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12 mt-3 ">
          <div class="card card-warning card-outline card-outline-tabs">
            <div class="card-header p-0 border-bottom-0">
              <ul class="nav nav-tabs " id="custom-tabs-four-tab" role="tablist">

                <li class="nav-item">
                  <a class="nav-link active text-bold" id="custom-tabs-four-profile-tab" data-toggle="pill"
                     href="#custom-tabs-four-profile" role="tab" aria-controls="custom-tabs-four-profile"
                     aria-selected="false"><i class="fas fa-id-card"></i> Profile Form</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  text-bold" id="custom-tabs-four-home-tab" data-toggle="pill"
                     href="#custom-tabs-four-home" role="tab" aria-controls="custom-tabs-four-home"
                     aria-selected="true"><i class="fas fa-list-squares"></i> Liste des Fonction </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-bold" id="custom-tabs-four-messages-tab" data-toggle="pill"
                     href="#custom-tabs-four-messages" role="tab" aria-controls="custom-tabs-four-messages"
                     aria-selected="false"> <i class="fas fa-circle-check"></i> Confirme Update</a>
                </li>

              </ul>

            </div>
            <div class="card-body">
              <div class="tab-content" id="custom-tabs-four-tabContent">

                <div class="tab-pane fade show active" id="custom-tabs-four-profile" role="tabpanel"
                     aria-labelledby="custom-tabs-four-profile-tab">
                  <div class="card-body">
                    <div class="row ml-2">
                      <div class="col-md-8">
                        <form [formGroup]="profilForm">
                          <div class="row">

                            <div class="col-md-5">
                              <div class="form-group">
                                <label>Nom Profil</label>
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-id-card"></i></span>
                                  </div>
                                  <input formControlName="nomP" placeholder="Nom " type="text" class="form-control"
                                         [ngClass]="{'is-invalid': profilForm.get('nomP')?.invalid && showError,'is-valid':profilForm.get('nomP')?.valid && showError}">
                                  <span *ngIf="profilForm.get('nomP')?.hasError('maxlength')"
                                        class="error invalid-feedback">Maximum length is 30 characters.</span>
                                </div>
                              </div>
                            </div>

                            <div class="col-md-7">
                              <div class="form-group">
                                <label>Description</label>
                                <div class="input-group input-group-sm">
                                  <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-signature"></i></span>
                                  </div>
                                  <input formControlName="des_P" placeholder="Description" type="text"
                                         class="form-control "
                                         [ngClass]="{'is-invalid': profilForm.get('des_P')?.invalid && showError,'is-valid':profilForm.get('des_P')?.valid && showError}">
                                  <span *ngIf="profilForm.get('des_P')?.hasError('maxlength')"
                                        class="error invalid-feedback">Maximum length is 100 characters.</span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </form>
                      </div>
                      <div class="col-md-3">

                      </div>


                    </div>

                  </div>

                </div>
                <div class="tab-pane fade " id="custom-tabs-four-home" role="tabpanel"
                     aria-labelledby="custom-tabs-four-home-tab">
                  <div class=" table-responsive p-0" style="height: 450px">
                    <p-tree [value]="treeData" [selectionMode]="'checkbox'" [(selection)]="selectedItems"
                            [filter]="true" filterPlaceholder="Search Functions..."
                            class=" p-inputtext-sm "
                            (selectionChange)="onSelectedItemsChange()"


                    >

                    </p-tree>
                  </div>
                </div>
                <div class="tab-pane fade" id="custom-tabs-four-messages" role="tabpanel"
                     aria-labelledby="custom-tabs-four-messages-tab">
                  <dl class="row">
                    <dt class="col-sm-3">Nom Profil</dt>
                    <dd class="col-sm-8">{{profilUpdate?.nomP}}</dd>
                    <dt class="col-sm-3">Description</dt>
                    <dd class="col-sm-8">{{profilUpdate?.des_P}}</dd>
                    <dt class="col-sm-3">liste des Fonctions</dt>
                    <dd class="col-sm-8">
                      <ul>
                        <li *ngFor="let fonction of profilUpdate?.fonctions">{{ fonction.nomF }}</li>
                      </ul>
                    </dd>


                  </dl>
                  <div class="row">
                    <div class="btn-group btn-block d-flex justify-content-end">
                      <div class="col-md-2">
                        <button class="btn btn-sm btn-block bg-gradient-danger" type="button" (click)="Clear()">
                          Cancel
                          <i class="fa-regular fa-xmark-circle"></i>
                        </button>
                      </div>
                      <div class="col-md-3">
                        <button class="btn btn-sm btn-block bg-gradient-warning" type="button" (click)="updateProfil()">
                          Update
                          <i class="fa-regular fa-circle-check"></i>
                        </button>
                      </div>
                    </div>


                  </div>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>

