<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Encaissement </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/encaissement/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Encaissement</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid ">
      <div class="row">
        <p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
        <div class="col-md-12 ">
          <p-dialog header="Header" (onHide)="initEncaissForm()" [(visible)]="visible"
                    [style]="{ width: '60vw' }">
            <ng-template pTemplate="header">
              <span class="text-xl font-bold">Fichier Paiement</span>
            </ng-template>
            <ng-container *ngIf="encaissementForm">
              <form [formGroup]="encaissementForm">
                <div class=" row col-12">
                  <div class="col-7">
                    <div class="row">
                      <h5>
                        <i class="pi pi-wallet"></i> - Méthode Paiement .
                      </h5>
                    </div>
                    <div class="row mt-3 justify-content-evenly">
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeESPECES() }"
                         (click)="selectEspece()">
                        <i class="fa fa-coins "></i> Especes
                      </a>
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCheque() }"
                         (click)="selectCheque()">
                        <i class="fa fa-receipt"></i> Cheque
                      </a>
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCarteBancaire() }"
                         (click)="selectCreditCard()">
                        <i class="fa fa-credit-card"></i> Carte Bancaire
                      </a>

                    </div>
                    <div class="row mt-3">
                      <h5>
                        <i class="pi pi-book"></i> - Info Paiement .
                      </h5>
                    </div>
                    <div class="row mt-2" *ngIf="isModeESPECES()">

                    </div>
                    <div class="row mt-2 align-content-around" *ngIf="isModeCheque()">

                      <div class="row mt-1 col-12 justify-content-around">
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-bank"></i></span>
                            </div>
                            <input formControlName="banque" placeholder="Banque" type="text" class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="agenceBQ" placeholder="Agence" type="text" class="form-control">

                          </div>
                        </div>

                      </div>

                      <div class="row col-12 mt-1 justify-content-around">
                        <div class="form-group col-auto">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-water"></i></span>
                            </div>
                            <input formControlName="numCheq" placeholder="Numero cheque" type="text"
                                   class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-water"></i></span>
                            </div>
                            <input formControlName="rib" placeholder="Numero RIB" type="text" class="form-control">

                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row mt-2 " *ngIf="isModeCarteBancaire()">
                      <div class="row mt-2 col-12 justify-content-around">
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-bank"></i></span>
                            </div>
                            <input formControlName="banque" placeholder="Banque" type="text" class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="agenceBQ" placeholder="Agence" type="text" class="form-control">

                          </div>
                        </div>
                        <div class="row mt-2 justify-content-center">
                          <div class="form-group col-auto ">
                            <div class="input-group input-group-sm">
                              <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-rectangle-list"></i></span>
                              </div>
                              <input formControlName="agenceBQ" placeholder="Numero Carte" type="text"
                                     class="form-control">

                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                  </div>
                  <div class="col-1 " style="display: flex; align-items: stretch;">
                    <div class="col-6 border-blue-700 border-left-2 "></div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <h5>
                        <i class="pi pi-shopping-cart"></i> - Paiement .

                      </h5>
                    </div>

                    <div class="form-group row mt-3">
                      <label class="col-sm-3 col-form-label">ID :</label>
                      <div class="col-sm-8">
                        <input type="text" formControlName="identifiant"
                               class="form-control form-control-sm col-auto "
                               placeholder="Id client">
                      </div>
                    </div>
                    <div class="form-group row  mt-1">
                      <label class="col-sm-3 col-form-label">Type :</label>
                      <div class="col-sm-8">
                        <select formControlName="typeIdent"
                                class="form-control form-control-sm col-auto form-control-border border-width-2">
                          <option value="Carte d'identité">Carte d'identité</option>
                          <option value="Passeport">Passeport</option>
                          <option value="Permis de conduire">Permis de conduit</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row  mt-1">
                      <label class="col-sm-auto col-form-label">Periode :</label>
                      <div class="col-sm-8">
                        <select formControlName="periode"
                                class="form-control form-control-sm col-auto form-control-border border-width-2">
                          <option value="">Vide</option>
                          <option value="3 mois">3 mois</option>
                          <option value="6 mois">6 mois</option>
                          <option value="12 mois">12 mois</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group  mt-4">
                      <label class="col-sm-auto col-form-label">Montant Payé :</label>
                      <div class="col-sm-auto mt-1">
                        <p-inputNumber
                          formControlName="montantEnc"
                          class=" h-2rem w-5"
                          [step]="0.25"
                          mode="currency"
                          currency="TND"
                        ></p-inputNumber>
                      </div>
                    </div>

                  </div>
                </div>

              </form>
            </ng-container>

            <ng-template pTemplate="footer">
              <p-button icon="pi pi-times" (click)="initEncaissForm()" label="Cancel"
                        styleClass="p-button-text text-danger"></p-button>
              <p-button icon="pi pi-check" (click)="addEncaissementToTable()" label="Ok"
                        styleClass="p-button-text"></p-button>
            </ng-template>
          </p-dialog>
          <section class="content">
            <div class="row ml-2 mr-2">


            </div>
            <div class="invoice border-round-2xl shadow-2 p-3 mb-3">
              <div class="row d-flex justify-content-end " style="position: relative; right: 5rem;">
                <p-speedDial [model]="items" [transitionDelay]="80" [radius]="120" direction="down-left"
                             type="quarter-circle" showIcon="pi pi-bars" hideIcon="pi pi-times"
                             buttonClassName="p-button-outlined "></p-speedDial>
              </div>
              <br>
              <div class="row col-12 justify-content-center">
                <a class="text-center "><h1> Espace Facturation </h1></a>


              </div>
              <br>
              <div class="row pl-3">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-file-circle-check text-info"></i> Fichier de Facturation

                  </h4>
                </div>

              </div>
              <form [formGroup]="factureForm">
                <div class="row invoice-info">

                  <div class="row col-sm-8">
                    <div class="col-sm-6 invoice-col mt-3">

                      <address class="ml-2">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Reference :</label>
                          <div class="col-sm-auto">
                            <input type="text" formControlName="refFacture"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="Ref facture">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Produit :</label>
                          <div class="col-sm-auto">
                            <input type="text" formControlName="produit"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="Nom du produit">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Paiement :</label>
                          <div class="col-sm-6">
                            <select formControlName="periode"
                                    class="form-control form-control-sm col-auto form-control-border border-width-2">
                              <option value="COMPLET">Complet</option>
                              <option value="SEMESTRIEL">Semestrielle</option>
                              <option value="TRIMESTRIEL">Trimestrielle</option>
                              <option value="MENSUEL">Mensuelle</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">N° Téléphone :</label>
                          <div class="col-sm-auto">
                            <input type="text" pKeyFilter="int" formControlName="nappel"
                                   [ngClass]="{'is-invalid': factureForm.get('nappel')?.invalid && factureForm.get('nappel')?.dirty}"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="(+216) 99 999 999">
                            <span *ngIf="factureForm.get('nappel')?.hasError('minlength')"
                                  class="error invalid-feedback">8 characters required.</span>
                            <span *ngIf="factureForm.get('nappel')?.hasError('maxlength')"
                                  class="error invalid-feedback">8 characters required.</span>
                          </div>
                        </div>


                      </address>

                    </div>

                    <div class="col-sm-6 invoice-col mt-3">

                      <address>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Code client :</label>
                          <div class="col-sm-auto">
                            <input type="text" formControlName="codeClient"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="code client">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Compte :</label>
                          <div class="col-sm-auto">
                            <input type="text" formControlName="compteFacturation"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="Compte Facturation">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Identifiant :</label>
                          <div class="col-sm-auto">
                            <input type="text" formControlName="identifiant"
                                   class="form-control form-control-sm col-auto form-control-border border-width-2"
                                   placeholder="Id client">
                          </div>
                        </div>
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Type ID:</label>
                          <div class="col-sm-6">
                            <select formControlName="typeIdent"
                                    class="form-control form-control-sm col-auto form-control-border border-width-2">
                              <option value="Carte d'identité">Carte d'identité</option>
                              <option value="Passeport">Passeport</option>
                              <option value="Permis de conduire">Permis de conduit</option>
                            </select>
                          </div>
                        </div>
                      </address>
                    </div>
                    <div class="row col-sm-12  " *ngIf="factureForm.get('periode')?.value!='COMPLET'" >
                      <div class="col-sm-12 ">
                        <div class="form-group row  justify-content-center">
                          <label class="col-sm-auto col-form-label">Durée :</label>
                          <div class="col-sm-3" >
                            <select [formControl]="dureePaiment" [disabled]="updateRequest"
                                    class="form-control form-control-sm col-auto form-control-border border-width-1">
                              <option *ngIf="updateRequest" >{{factureForm.get('datLimPai')?.value}}</option>
                              <option *ngIf="!updateRequest" value="1">1 année</option>
                              <option *ngIf="!updateRequest" value="2">2 années</option>
                              <option *ngIf="!updateRequest" value="3">3 années</option>
                            </select>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="col-sm-4 invoice-col mt-3 ">
                    <h3 class="border-bottom-2  border-blue-700">Montant Facture </h3><br>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Montant original :</label>
                      <div class="col-sm-auto">
                        <p-inputNumber
                          formControlName="montant"
                          class=" h-2rem w-5"
                          [step]="0.25"
                          mode="currency"
                          currency="TND"
                        ></p-inputNumber>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Remise (%) :</label>
                      <div class="col-sm-auto">
                        <p-inputNumber formControlName="solde"
                                       prefix="% " mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                                       class=" h-2rem" [min]="0"
                                       [max]="100"></p-inputNumber>
                      </div>
                    </div>
                    <div class="row ml-auto col-7 mr-5 border-bottom-3 border-blue-700"></div>
                    <div class="row col-12 ">
                      <div class="flex justify-content-center col-12">
                        <h3 class="mr-5">Montant</h3>
                        <h4 class="ml-5">{{total | number: '1.3-3' }} </h4><h6 class="float-right"> TND</h6>

                      </div>
                    </div>
                  </div>

                </div>

              </form>

              <div class="row mt-3">

                <div class="col-12 table-responsive smooth-scroll">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>ID Client</th>
                      <th>N° Recu</th>
                      <th>Methode Paiement</th>
                      <th>Date Paiement</th>
                      <th>Montant Payé</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let encaissement of encaissFactArray ; let j = index ">
                      <td>{{ encaissement.identifiant }}</td>
                      <td>{{ encaissement.numRecu  }}</td>
                      <td>{{ encaissement.modePaiement | titlecase }}</td>
                      <td>{{ encaissement.dateEnc | date:"MM/dd/yyyy" }}</td>
                      <td><b>{{ encaissement.montantEnc | number: '1.3-3' }} <small class="ml-1"> TND</small></b><span
                        class="float-right">
                        <button (click)="confirmDeleteEncaiss(encaissement.idEncaissement,j)" type="button"
                                class="btn  btn-tool bg-gradient-danger  "><i class="fas fa-trash-can"></i></button>
                      </span>
                      </td>
                    </tr>
                    <tr *ngFor="let encaissement of encaissementsArray; let i = index">
                      <td>{{ encaissement.identifiant }}</td>
                      <td>{{ encaissement.numRecu  }}</td>
                      <td>{{ encaissement.modePaiement | titlecase }}</td>
                      <td>{{ encaissement.dateEnc | date:"MM/dd/yyyy" }}</td>
                      <td><b>{{ encaissement.montantEnc | number: '1.3-3' }} <small class="ml-1"> TND</small></b><span
                        class="float-right">
                        <button (click)="removeEncaisseRow(i)" type="button" class="btn  btn-tool bg-gradient-danger  "><i
                          class="fas fa-remove"></i></button>
                      </span>
                      </td>
                    </tr>

                    <tr>
                      <td colspan="5" class=" text-center">
                        <button (click)="showDialog()" class="btn bg-gradient-maroon  col-2"
                                [disabled]="factureForm.invalid"><i class="fa fa-shopping-basket"></i> Faire Paiement
                        </button>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <div class="row">

                <div class="col-6">

                </div>

                <div class="col-6">
                  <p class="lead">Dernier Paiement : {{today | date:"MM/dd/yyyy"}}</p>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <th style="width:50%">Montant :</th>
                        <td><h6>{{total | number: '1.3-3' }} TND</h6></td>
                      </tr>
                      <tr>
                        <th>Nombre Paiements :</th>
                        <td><h6>{{encaissementsArray.length + encaissFactArray.length}}</h6></td>
                      </tr>
                      <tr>
                        <th>Total Payé:</th>
                        <td><h6>{{totalPaye | number: '1.3-3' }} TND</h6></td>
                      </tr>

                      </tbody>
                    </table>
                  </div>
                </div>

              </div>


              <div class="row no-print">
                <div class="col-12">

                  <button type="button" (click)="SaveFacture()" class=" border-round btn btn-success float-right"><i
                    class="far fa-credit-card"></i> Enregistrer
                    Facture
                  </button>

                </div>
              </div>
            </div>


          </section>
        </div>
      </div>
    </div>
  </div>
</div>
