@media print {
  /* Hide buttons and inputs when printing */
  button, p-speedDial {
    display: none !important;
  }

  /* Any additional print styles for this component */
  .print-specific-element {
    /* Define print-specific styles here */
  }
}
.smooth-scroll {
  max-height: 500px;
  overflow-y: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: rgba(0, 0, 0, 0.3) rgba(0, 0, 0, 0.1); /* For Firefox */
}

.smooth-scroll::-webkit-scrollbar {
  width: 8px; /* Width of the vertical scrollbar */
}

.smooth-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Color of the scrollbar thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.smooth-scroll::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5); /* Color of the scrollbar thumb on hover */
}

.smooth-scroll::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}
