<div class="content-wrapper" xmlns="http://www.w3.org/1999/html">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0">Encaissement </h1>
        </div>

        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/encaissement/dashboard">Home</a></li>
            <li class="breadcrumb-item active">Encaissement</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 ">
          <p-dialog header="Header" (onHide)="initEncaissForm()" [(visible)]="visible"
                    [style]="{ width: '60vw' }">
            <ng-template pTemplate="header">
              <span class="text-xl font-bold">Fichier Paiement</span>
            </ng-template>
            <ng-container *ngIf="encaissementForm">
              <form [formGroup]="encaissementForm">
                <div class=" row col-12">
                  <div class="col-7">
                    <div class="row">
                      <h5>
                        <i class="pi pi-wallet"></i> - Méthode Paiement .
                      </h5>
                    </div>
                    <div class="row mt-3 justify-content-evenly">
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeESPECES() }"
                         (click)="selectEspece()">
                        <i class="fa fa-coins "></i> Especes
                      </a>
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCheque() }"
                         (click)="selectCheque()">
                        <i class="fa fa-receipt"></i> Cheque
                      </a>
                      <a class="btn btn-app col-3" [ngClass]="{ 'bg-gradient-info': isModeCarteBancaire() }"
                         (click)="selectCreditCard()">
                        <i class="fa fa-credit-card"></i> Carte Bancaire
                      </a>

                    </div>
                    <div class="row mt-3">
                      <h5>
                        <i class="pi pi-book"></i> - Info Paiement .
                      </h5>
                    </div>
                    <div class="row mt-2" *ngIf="isModeESPECES()">

                    </div>
                    <div class="row mt-2" *ngIf="isModeCheque()">

                      <div class="row mt-1 col-12 justify-content-around">
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-bank"></i></span>
                            </div>
                            <input formControlName="banque" placeholder="Banque" type="text" class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="agenceBQ" placeholder="Agence" type="text" class="form-control">

                          </div>
                        </div>

                      </div>

                      <div class="row col-12 mt-1 justify-content-around">
                        <div class="form-group col-auto">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="numCheq" placeholder="Numero cheque" type="text"
                                   class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="rib" placeholder="Numero RIB" type="text" class="form-control">

                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row mt-2" *ngIf="isModeCarteBancaire()">
                      <div class="row col-12 justify-content-around">
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-bank"></i></span>
                            </div>
                            <input formControlName="banque" placeholder="Banque" type="text" class="form-control">

                          </div>
                        </div>
                        <div class="form-group col-auto ">
                          <div class="input-group input-group-sm">
                            <div class="input-group-prepend">
                              <span class="input-group-text"><i class="fas fa-handshake"></i></span>
                            </div>
                            <input formControlName="agenceBQ" placeholder="Agence" type="text" class="form-control">

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-1 " style="display: flex; align-items: stretch;">
                    <div class="col-6 border-blue-700 border-left-2 "></div>
                  </div>
                  <div class="col-4">
                    <div class="row">
                      <h5>
                        <i class="pi pi-shopping-cart"></i> - Paiement .

                      </h5>
                    </div>

                    <div class="form-group row mt-3">
                      <label class="col-sm-3 col-form-label">Id :</label>
                      <div class="col-sm-8">
                        <input type="text" formControlName="identifiant"
                               class="form-control form-control-sm col-auto "
                               placeholder="Id client">
                      </div>
                    </div>
                    <div class="form-group row  mt-1">
                      <label class="col-sm-3 col-form-label">Type :</label>
                      <div class="col-sm-8">
                        <select formControlName="typeIdent"
                                class="form-control form-control-sm col-auto form-control-border border-width-2">
                          <option value="Carte d'identité">Carte d'identité</option>
                          <option value="Passeport">Passeport</option>
                          <option value="Permis de conduire">Permis de conduit</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row  mt-1">
                      <label class="col-sm-auto col-form-label">Periode :</label>
                      <div class="col-sm-8">
                        <select formControlName="periode"
                                class="form-control form-control-sm col-auto form-control-border border-width-2">
                          <option value="">Vide</option>
                          <option value="3 mois">3 mois</option>
                          <option value="6 mois">6 mois</option>
                          <option value="12 mois">12 mois</option>
                        </select>
                      </div>
                    </div>

                    <div class="form-group  mt-4">
                      <label class="col-sm-auto col-form-label">Montant Payé :</label>
                      <div class="col-sm-auto mt-1">
                        <p-inputNumber
                          formControlName="montantEnc"
                          class=" h-2rem w-5"
                          [step]="0.25"
                          mode="currency"
                          currency="TND"
                        ></p-inputNumber>
                      </div>
                    </div>

                  </div>
                </div>

              </form>
            </ng-container>

            <ng-template pTemplate="footer">
              <p-button icon="pi pi-times" (click)="initEncaissForm()" label="Cancel"
                        styleClass="p-button-text text-danger"></p-button>
              <p-button icon="pi pi-check" (click)="addEncaissementToTable()" label="Ok"
                        styleClass="p-button-text"></p-button>
            </ng-template>
          </p-dialog>
          <section class="content">
            <div class="row ml-2 mr-2">


            </div>
            <div class="invoice p-3 mb-3">
              <div class="row d-flex justify-content-end " style="position: relative; right: 5rem;">
                <p-speedDial [model]="items" [transitionDelay]="80" [radius]="120" direction="down-left"
                             type="quarter-circle" showIcon="pi pi-bars" hideIcon="pi pi-times"
                             buttonClassName="p-button-outlined "></p-speedDial>
              </div>
              <br>
              <div class="row col-12 justify-content-center">
                <a class="text-center "><h1> Facture </h1></a>


              </div>

              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"></i> AdminLTE, Inc.

                  </h4>
                </div>

              </div>
              <form [formGroup]="factureForm">
                <div class="row invoice-info">

                  <div class="col-sm-4 invoice-col">

                    From
                    <address>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Reference :</label>
                        <div class="col-sm-auto">
                          <input type="text" formControlName="refFacture"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="Ref facture">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Produit :</label>
                        <div class="col-sm-auto">
                          <input type="text" formControlName="produit"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="Nom du produit">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Date limite :</label>
                        <div class="col-sm-6">
                          <input type="date" formControlName="datLimPai"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="Compte Facturation">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">N° Téléphone :</label>
                        <div class="col-sm-auto">
                          <input type="text" pKeyFilter="int" formControlName="nappel"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="(+216) 99 999 999">
                        </div>
                      </div>

                      <p class="mt-1">Date : {{ today | date:'MMMM dd, yyyy' }}</p>

                    </address>
                  </div>

                  <div class="col-sm-4 invoice-col">
                    To
                    <address>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Code client :</label>
                        <div class="col-sm-auto">
                          <input type="text" formControlName="codeClient"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="code client">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Compte :</label>
                        <div class="col-sm-auto">
                          <input type="text" formControlName="compteFacturation"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="Compte Facturation">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Identifiant :</label>
                        <div class="col-sm-auto">
                          <input type="text" formControlName="identifiant"
                                 class="form-control form-control-sm col-auto form-control-border border-width-2"
                                 placeholder="Id client">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Type Id:</label>
                        <div class="col-sm-6">
                          <select formControlName="typeIdent"
                                  class="form-control form-control-sm col-auto form-control-border border-width-2">
                            <option value="Carte d'identité">Carte d'identité</option>
                            <option value="Passeport">Passeport</option>
                            <option value="Permis de conduire">Permis de conduit</option>
                          </select>
                        </div>
                      </div>
                    </address>
                  </div>

                  <div class="col-sm-4 invoice-col mt-3 ">
                    <h3 class="border-bottom-2  border-blue-700">Montant Facture </h3><br>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Montant original :</label>
                      <div class="col-sm-auto">
                        <p-inputNumber
                          formControlName="montant"
                          class=" h-2rem w-5"
                          [step]="0.25"
                          mode="currency"
                          currency="TND"
                        ></p-inputNumber>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label">Remise (%) :</label>
                      <div class="col-sm-auto">
                        <p-inputNumber formControlName="solde"
                                       prefix="% " mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="2"
                                       class=" h-2rem" [min]="0"
                                       [max]="100"></p-inputNumber>
                      </div>
                    </div>
                    <div class="row ml-auto col-7 mr-5 border-bottom-3 border-blue-700"></div>
                    <div class="row col-12 ">
                      <div class="flex justify-content-center col-12">
                        <h3 class="mr-5">Montant</h3>
                        <h4 class="ml-5">{{total | number: '1.3-3' }} </h4><h6 class="float-right"> TND</h6>

                      </div>
                    </div>
                  </div>

                </div>
              </form>
              <div class="row mt-3">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>Qty</th>
                      <th>Product</th>
                      <th>Serial #</th>
                      <th>Description</th>
                      <th>Subtotal</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr *ngFor="let encaissement of encaissementsArray; let i = index">
                      <td>{{ encaissement.idEncaissement }}</td>
                      <td>{{ encaissement.dateEnc | date }}</td>
                      <td>{{ encaissement.montantEnc }}</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Call of Duty</td>
                      <td>455-981-221</td>
                      <td>El snort testosterone trophy driving gloves handsome</td>
                      <td>$64.50</td>
                    </tr>
                    <tr>
                      <td colspan="5" class=" text-center">
                        <button class="btn btn-primary" (click)="showDialog()">Faire Paiement</button>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Monsters DVD</td>
                      <td>735-845-642</td>
                      <td>Terry Richardson helvetica tousled street art master</td>
                      <td>$10.70</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>Grown Ups Blue Ray</td>
                      <td>422-568-642</td>
                      <td>Tousled lomo letterpress</td>
                      <td>$25.99</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <div class="row">

                <div class="col-6">
                  <p class="lead">Payment Methods:</p>
                  <img alt="Visa">
                  <img alt="Mastercard">
                  <img alt="American Express">
                  <img alt="Paypal">
                  <p class="text-muted well well-sm shadow-none" style="margin-top: 10px;">
                    Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem
                    plugg
                    dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
                  </p>
                </div>

                <div class="col-6">
                  <p class="lead">Dernier Paiement : {{today | date:"MM/dd/yyyy"}}</p>
                  <div class="table-responsive">
                    <table class="table">
                      <tbody>
                      <tr>
                        <th style="width:50%">Subtotal:</th>
                        <td>$250.30</td>
                      </tr>
                      <tr>
                        <th>Tax (9.3%)</th>
                        <td>$10.34</td>
                      </tr>
                      <tr>
                        <th>Shipping:</th>
                        <td>$5.80</td>
                      </tr>
                      <tr>
                        <th>Total:</th>
                        <td>$265.24</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

              </div>


              <div class="row no-print">
                <div class="col-12">
                  <a rel="noopener" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  <button type="button" (click)="SaveFacture()" class="btn btn-success float-right"><i
                    class="far fa-credit-card"></i> Submit
                    Payment
                  </button>
                  <button type="button" class="btn btn-primary float-right" style="margin-right: 5px;">
                    <i class="fas fa-download"></i> Generate PDF
                  </button>
                </div>
              </div>
            </div>


          </section>
        </div>
      </div>
    </div>
  </div>
</div>
